h1{
	color: #0f3168; /*navy blue */
	font-family: 'Roboto', sans-serif;
	font-size: 1.75vw;
	padding-left: 17.5vw;
}
h2{
	color:black;
	font-family: 'Roboto', sans-serif;
	font-size: 2vw;
	font-weight: 300;
	padding-left: 17.5vw;
	padding-top: 1.25vw;
}

.Header .Title-main{
	position: relative;
	top: 2vw;
}
.red{
	color: #f91104;
}

.h1{
	font-size: 3.2vw;
	line-height: 1;
	letter-spacing: 0;
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	padding-left: 17.5vw;
}

body{
/*	height: 700px;
*/	/*background:white; /*sorry IE <=9 */
	/*background: -webkit-linear-gradient(left top, #C5796D, #DBE6F6); /* Safari 5.1-6.0 */
	/*background: -o-linear-gradient(bottom right, #C5796D, #DBE6F6); /* Opera 11.1-12.0 */
	/*background: -moz-linear-gradient(bottom right, #C5796D, #DBE6F6); /*Firefox3.6-15*/
	/*background: linear-gradient(to bottom right, #C5796D, #DBE6F6); /* the rest! */ 
	background-image: url(../../images.background.png);
	background-repeat: repeat-x;
}