<!DOCTYPE html>
<html> 
<head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Quattrocento+Sans|Roboto|Source+Sans+Pro|Cardo" rel="stylesheet">

<!--<link rel="stylesheet" type = "text/css" href = 'styles/css/style.css'>-->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body> 

<div id = "initial-gradient"></div>

<div class="Header">
	<div class = "h1 Title-main red">
	<div>THINGS I LIKE</div>
	</div>
</div>
<h2> page left blank intentionally </h2>

</body>	

</html>